@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container">
        @if (Request.IsAuthenticated && !(User.IsInRole("User")))
        {
            <ul class="list-group">
                <li>@Html.ActionLink("Автомобили", "Index", "Cars")</li>
                <li>@Html.ActionLink("Сотрудники", "Index", "Employees")</li>
                <li>@Html.ActionLink("Страховые случаи", "Index", "InsuranceEvents")</li>
                <li>@Html.ActionLink("Лица допущенные к управлению", "Index", "PersonsAllowedToDrive")</li>
                <li>@Html.ActionLink("Фотографии", "Index", "Photos")</li>
                <li>@Html.ActionLink("Полисы", "Index", "Policies")</li>
                <li>@Html.ActionLink("Страхователи", "Index", "Policyholders")</li>
            </ul>
        }
        else
        {
            <p>Информация не доступна</p>
        }
    </div>
</div>