@model IEnumerable<InsuranceAgency.Models.Employee>
@{
    ViewBag.Title = "Create";
}

<h2>Добавление полюса</h2>

<div class="form-group">
    @Html.Label("Страхователь", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.Label(ViewBag.Policyholder.FullName as string, htmlAttributes: new { @class = "control-label" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Автомобиль", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.Label(ViewBag.Car.Model as string, htmlAttributes: new { @class = "control-label" })
    </div>
</div>

<h3>Выберите сотрудника</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Works)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Works)
            </td>
            <td>
                @using (Html.BeginForm("ChooseEmployee", "CreatePolicy", FormMethod.Post))
                {
                    <div>
                        @Html.Hidden("PolicyholderID", ViewBag.Policyholder.ID as string)
                        @Html.Hidden("CarID", ViewBag.Car.ID as string)
                        @Html.Hidden("EmployeeID", item.ID)
                        <input type="submit" value="Выбрать" class="btn btn-primary" />
                    </div>
                }
            </td>
        </tr>
    }

</table>


