@model InsuranceAgency.Models.Policy

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о полисе</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policyholder.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policyholder.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurancePremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurancePremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfConclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfConclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
