@model InsuranceAgency.Models.ViewModels.AllInfoAboutPolicy
@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о полисе</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Policy.InsuranceType)</dt>
        <dd>@Html.DisplayFor(model => model.Policy.InsuranceType)</dd>

        <dt>@Html.DisplayNameFor(model => model.Policy.InsurancePremium)</dt>
        <dd>@Html.DisplayFor(model => model.Policy.InsurancePremium)</dd>

        <dt>@Html.DisplayNameFor(model => model.Policy.InsuranceAmount)</dt>
        <dd>@Html.DisplayFor(model => model.Policy.InsuranceAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Policy.DateOfConclusion)</dt>
        <dd>@Html.DisplayFor(model => model.Policy.DateOfConclusion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Policy.ExpirationDate)</dt>
        <dd>@Html.DisplayFor(model => model.Policy.ExpirationDate)</dd>

        <dt>@Html.DisplayName("Страхователь")</dt>
        <dd>@Html.DisplayFor(model => model.Policy.Policyholder.FullName)</dd>

        <dt>@Html.DisplayName("Автомобиль")</dt>
        <dd>@Html.DisplayFor(model => model.Policy.Car.Model)</dd>

        <dt>@Html.DisplayName("Сотрудник")</dt>
        <dd>@Html.DisplayFor(model => model.Policy.Employee.FullName)</dd>
    </dl>
</div>

<div>
    <br />
    <h4>Лица, допущенные к управлению</h4>

    <table class="table" id="table-id-1">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.PersonsAllowedToDrive.First().FullName)</th>
                <th>@Html.DisplayNameFor(model => model.PersonsAllowedToDrive.First().DrivingLicence)</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model.PersonsAllowedToDrive)
            {
                <tr>
                    <th>@i</th>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DrivingLicence)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<div>
    <br />
    <h4>Страховые случаи</h4>

    <table class="table" id="table-id-2">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceEvents.First().Date)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceEvents.First().InsurancePayment)</th>
                <th>@Html.DisplayNameFor(model => model.InsuranceEvents.First().Description)</th>
            </tr>
        </thead>
        <tbody>
            @{ i = 1;}
            @foreach (var item in Model.InsuranceEvents)
            {
                <tr>
                    <th>@i</th>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.InsurancePayment)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<div>
    <br />
    <p>
        @if (!User.IsInRole("User"))
        {
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Policy.ID })<span> | </span>
        }
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>
</div>

<script src="@Url.Content("~/Scripts/tablesort.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tablesort.number.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tablesort.date.js")" type="text/javascript"></script>

<script>
    new Tablesort(document.getElementById('table-id-1'));
    new Tablesort(document.getElementById('table-id-2'));
</script>