@model IEnumerable<InsuranceAgency.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Список фотографий</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
