@model InsuranceAgency.Models.Policyholder

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление страхователя</h2>

<h3>Вы уверены, что хотите удалить данного страхователя?</h3>

@{
    if (Model.Policies.Count != 0)
    {
        if (User.IsInRole("Administrator"))
        {
            <p style="color: darkred">При удалении страхователя полисы, закрепленные за ним, также удалятся (за данным страхователем закреплено полисов: @Model.Policies.Count)</p>
        }
        if (User.IsInRole("Operator"))
        {
            <p style="color: darkred">Вы не можете удалить данного страхователя, так как за ним закреплены полисы. Обратитесь к администратору</p>
        }
    }
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @{
                if ((Model.Policies.Count != 0 && User.IsInRole("Administrator")) || Model.Policies.Count == 0)
                {
                        <input type="submit" value="Удалить" class="btn btn-default" /><span> | </span>
                }
            }
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
