@model InsuranceAgency.Models.PersonAllowedToDrive

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление лица, допущенного к управлению</h2>

<h3>Вы уверены, что хотите удалить данное лицо, допущенное к управлению?</h3>

@{
    if (Model.Policies.Count != 0)
    {
        if (User.IsInRole("Administrator"))
        {
            <p style="color: darkred">При удалении лица, допущенного к управлению, удалится информация о нём в закреплённых полисах (закреплено полисов: @Model.Policies.Count)</p>
        }
        if (User.IsInRole("Operator"))
        {
            <p style="color: darkred">Вы не можете удалить данное лицо, допущенное к управлению, так как за ним закреплены полисы. Обратитесь к администратору</p>
        }
    }
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.DrivingLicence)</dt>
        <dd>@Html.DisplayFor(model => model.DrivingLicence)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @{
                if ((Model.Policies.Count != 0 && User.IsInRole("Administrator")) || Model.Policies.Count == 0)
                {
                    <input type="submit" value="Удалить" class="btn btn-primary" /><span> | </span>
                }
            }
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>