@model IEnumerable<InsuranceAgency.Models.PersonAllowedToDrive>

@{
    ViewBag.Title = "Index";
}

<h2>Список лиц, допущенных к управлению</h2>

<p>
    @Html.ActionLink("Добавить новое", "Create")
</p>

<table class="table" id="table-id">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.DrivingLicence)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <th>@i</th>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.DrivingLicence)</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<script src="@Url.Content("~/Scripts/tablesort.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tablesort.number.js")" type="text/javascript"></script>

<script>
    new Tablesort(document.getElementById('table-id'));
</script>