@model InsuranceAgency.Models.Car
@{
    ViewBag.Title = "AddPhoto";
}
<h2>Добавление фотографии автомобиля</h2>

@using (Html.BeginForm("AddPhoto", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CarID", Model.ID)

    <div class="form-horizontal">
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Автомобиль")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
        </dl>

        @Html.Hidden("FromCreatePolicy", ViewBag.FromCreatePolicy as string)
        @Html.Hidden("PolicyholderID", ViewBag.PolicyholderID as string)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" name="upload" /><br>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "Edit", new {id = Model.ID})
</div>

