@model InsuranceAgency.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление автомобиля</h2>

<h3>Вы уверены, что хотите удалить данный автомобиль?</h3>

@{
    if (Model.Policies.Count != 0)
    {
        if (User.IsInRole("Administrator"))
        {
            <p style="color: darkred">При удалении автомобиля полисы, закрепленные за ним, также удалятся (за данным автомобилем закреплено полисов: @Model.Policies.Count)</p>
        }
        if (User.IsInRole("Operator"))
        {
            <p style="color: darkred">Вы не можете удалить данный автомобиль, так как за ним закреплены полисы. Обратитесь к администратору</p>
        }
    }
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehiclePassport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehiclePassport)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @{
                if ((Model.Policies.Count != 0 && User.IsInRole("Administrator")) || Model.Policies.Count == 0)
                {
                    <input type="submit" value="Удалить" class="btn btn-default" /><span> | </span>
                }
            }
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
