<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                </ul>

                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Administrator"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Полисы", "Index", "Policies")</li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    Компоненты
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>@Html.ActionLink("Автомобили", "Index", "Cars")</li>
                                    <li>@Html.ActionLink("Лица, допущенные к управлению", "Index", "PersonsAllowedToDrive")</li>
                                    <li>@Html.ActionLink("Страхователи", "Index", "Policyholders")</li>
                                    <li>@Html.ActionLink("Страховые случаи", "Index", "InsuranceEvents")</li>
                                    <li>@Html.ActionLink("Сотрудники", "Index", "Employees")</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Отчёты", "Index", "Reports")</li>
                        </ul>
                    }
                    if (User.IsInRole("Operator"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Полисы", "Index", "Policies")</li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    Компоненты
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>@Html.ActionLink("Автомобили", "Index", "Cars")</li>
                                    <li>@Html.ActionLink("Лица, допущенные к управлению", "Index", "PersonsAllowedToDrive")</li>
                                    <li>@Html.ActionLink("Страховые случаи", "Index", "InsuranceEvents")</li>
                                    <li>@Html.ActionLink("Страхователи", "Index", "Policyholders")</li>
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Отчёты", "Index", "Reports")</li>
                        </ul>
                    }
                    if (User.IsInRole("User"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Полисы", "Index", "Policies")</li>
                        </ul>
                    }

                    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Профиль (" + User.Identity.Name + ")", "UserProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
